.radio-group {
  display: flex;

  gap: 10px;
}

.span {
  color: red;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: auto;
}

.business {
  background: url('../../assets/business.jpg') no-repeat center center;
  object-fit: cover;
}

.economy {
  background: url('../../assets/clouds.jpg') no-repeat center center;
  object-fit: cover;
}
